<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	template="/WEB-INF/incl/layout/login-template.xhtml">

	<f:metadata>
		<f:viewAction action="#{authenticator.prepareAuthenticationForStep}" if="#{sessionIdService.notSessionIdAuthenticated}" />

		<f:viewParam name="login_hint" value="#{loginAction.loginHint}" />
	</f:metadata>

	<ui:defavine name="head">
		<meta name="description" content="Gluu, Inc." />
	</ui:define>

	<ui:define name="pageTitle">
		<h:outputText value="#{msgs['login.pageTitle']}" />
	</ui:define>

	<ui:define name="body">
		<header class="bs-docs-nav navbar navbar-static-top" id="top"> 
		<div class="container">
			<!-- start logo-->
			<div class="logo span2">
				<ui:param name="client"
					value="#{clientService.getClient(identity.sessionId.sessionAttributes['client_id'])}" />

				<h:panelGroup layout="block" rendered='#{!empty client.logoUri}'>
					<h:graphicImage url='#{client.logoUri}' />
				</h:panelGroup>
				<h:panelGroup layout="block" rendered='#{empty client.logoUri}'>
					<a href="https://www.gov.uk/"> <h:graphicImage
							url="img/logo.png" />
					</a>
				</h:panelGroup>
			</div>
			<!-- end logo-->
		</div>
	</header>
		<!-- end header-->
	<div class="bs-docs-section">
		<div class="container">
			<!-- <h:panelGroup  rendered="false"> 
			<div class="login_bx">
				<div class="row">
					<div class="col-md-6 col-sm-5 ">
					   <div class="left_form_bx">

						<h:form id="loginForm"  class="form-horizontal">
						<h:panelGroup
									rendered="#{sessionIdService.notSessionIdAuthenticated}">

						<h:messages style="color:red;" />

						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-3 control-label"	for="username" value="#{msgs['login.username']}" />
							<div class="col-sm-9">
							  <h:inputText id="username" value="#{credentials.username}" styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>
						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-3 control-label" for="password" value="#{msgs['login.password']}" />
							<div class="col-sm-9">
							  <h:inputSecret id="password" value="#{credentials.password}"  styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>

						  <div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
							  <h:commandButton id="loginButton" styleClass="btn btn-primary"
													value="#{msgs['login.login']}"
													action="#{authenticator.authenticate}" />
							</div>
						  </div>
						  
						  <div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
							  <div class="forgot_link">
								<a href="/identity/person/passwordReminder.htm">
								  <h:outputText value="#{msgs['login.forgottenpassword']}" />
								</a>
							  </div>
							</div>
						  </div>
						  </h:panelGroup>
						</h:form>
						</div>
						<h:panelGroup layout="block" rendered="#{external_registration_uri != Null}">
						 <div class="reg_link">
								<a href="#{external_registration_uri}">
								 <h:outputText value="Register Now   " />
								</a>
						</div>
						</h:panelGroup>
					</div>
					<div class="col-md-1 col-sm-7 hidden-xs"><div class="bar"><div class="circle">or</div></div></div>
					<div class="col-md-5 col-sm-7">
					  <div class="paddin_bx">
						<h3>Social Login for Easy Access</h3>
						<div class="button_social">
						    <ul>
						      <li><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i> Sign In with Facebook</a></li>
							  <li><a href="#" class="twt"><i class="fa fa-twitter" aria-hidden="true"></i> Sign In with Twitter</a></li>
							  <li><a href="#"  class="goog"><i class="fa fa-google-plus" aria-hidden="true"></i> Sign In with Google+</a></li>
							  <li><a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i> Sign In with Linkedin</a></li>
							</ul>
						    <p>or Login with</p>
							<ul class="sm-social">
								<li><a href="#" class="pin"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#" class="git"><i class="fa fa-github" aria-hidden="true"></i></a></li>
								<li><a href="#" class="pay"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
								<li><a href="#" class="fsquare"><i class="fa fa-foursquare" aria-hidden="true"></i></a></li>
								<li><a href="javascript:void()" class="other"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								
							</ul>
							<ul id="social_new" class="sm-social" style="display:none;">
								<li><a href="#" class="wk"><i class="fa fa-google-wallet" aria-hidden="true"></i></a></li>
								<li><a href="#" class="yout"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wind"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wordp"><i class="fa fa-wordpress" aria-hidden="true"></i></a></li>
								<li><a href="#" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								
							</ul>
						</div>
						
						
						</div>
					</div>
				</div>
			</div>
			</h:panelGroup> -->
			
			<h:panelGroup  rendered="true"> 
			<div class="login_bx_1">
				<div class="row">
					<div class="col-md-6_1 col-sm-5_1 ">
					   <div class="left_form_bx">
					   
						<h:form id="loginForm"  class="form-horizontal">
						<h:panelGroup
									rendered="#{sessionIdService.notSessionIdAuthenticated}">
									
						<h:messages style="color:red;" />
						
						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-4 control-label"	for="username" value="#{msgs['login.username']}" />
							<div class="col-sm-8">
							  <h:inputText id="username" value="#{credentials.username}" styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>
						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-4 control-label" for="password" value="#{msgs['login.password']}" />
							<div class="col-sm-8">
							  <h:inputSecret id="password" value="#{credentials.password}"  styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>
<!--
							<div class="form-group">
								<h:outputLabel styleClass="col-sm-4 control-label" for="rememberme" value="#{msgs['login.rememberMe']}" />
								<div class="col-sm-8">
									<input type="checkbox" value="rememberme" id="rememberme"/>
								</div>
							</div>
						-->
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
							  <div class="forgot_link">
								<a href="/identity/person/passwordReminder.htm">
								  <h:outputText value="#{msgs['login.forgottenpassword']}" />
								</a>
							  </div>
							</div>
						  </div>

						  <div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
							  <h:commandButton id="loginButton" styleClass="btn btn-primary"
													value="#{msgs['login.login']}"
											   onclick="checkRemembeMe()"
													action="#{authenticator.authenticate}" />
							</div>
						  </div>
						  
						  
						  </h:panelGroup>
						</h:form>
						<div align="center">
                                                    <ui:repeat value="#{identity.getWorkingParameter('download_url').entrySet().toArray()}" var="_entry">
                                                        <ui:param name="app_name" value="#{_entry.key}"/>
                                                        <ui:param name="app_link" value="#{_entry.value}"/>
                                                        <h:outputLink value="#{app_link}" title="#{app_name}"><h:graphicImage value="img/#{app_name}.png" /></h:outputLink>
                                                    </ui:repeat>
                                                </div>

						</div>
						<h:panelGroup layout="block" rendered="#{external_registration_uri != Null}">
						 <div class="reg_link">
								<a href="#{external_registration_uri}">
								 <h:outputText value="Register Now   " />
								</a>
						</div>
						</h:panelGroup>
					</div>
				</div>
			</div>
			
			</h:panelGroup>
		</div>
	</div>
	
	<div class="foot_bor">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				  <div class="padding_spc">
					<p><h:outputText value="#{msgs['common.gluuInc']}" />  | <a target="_blank" href="https://github.com/GluuFederation/oxAuth/blob/master/LICENSE"><h:outputText value="#{msgs['common.caution']}" escape="false" /></a>
					<h:panelGroup rendered='#{!empty client.policyUri}'>
					| <a target="_blank" href="#{client.policyUri}"><h:outputText value="#{msgs['common.privacyPolicy']}" escape="false" /></a>
					</h:panelGroup>
					<h:panelGroup rendered='#{!empty client.tosUri}'>
					| <a target="_blank" href="#{client.tosUri}"><h:outputText value="#{msgs['common.termsOfService']}" escape="false" /></a>
					</h:panelGroup>
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script type="text/javascript">

            window.onload = function () {
                var userNameField = document.getElementById("loginForm:username");
                var passwordField = document.getElementById("loginForm:password");
                var userName = '#{!empty loginAction.loginHint ? loginAction.loginHint : ""}';
                if (userName) {
                    userNameField.value = userName;
                    passwordField.focus();
                } else {
                    userNameField.focus();
                }

                var displayRegister = #{display_register_action or identity.sessionId.sessionAttributes['display_register_action']};
                if (displayRegister) {
                    var registerButton = document.getElementById("loginForm:registerId");
                    if (registerButton != null) {
                        registerButton.style.display = 'inline';
                    }
                }
            };

    		$(document).ready(function () {
    			$('.other').click(function(){
    				$('#social_new').toggle();
    			});

    			// Remember me
                if (localStorage.chkbx &amp;&amp; localStorage.chkbx != '') {
                    $('#rememberme').attr('checked', 'checked')
                    document.getElementById("loginForm:username").value = localStorage.usrname;
                    //document.getElementById("loginForm:password").value = localStorage.password;

                } else {
                    $('#rememberme').removeAttr('checked');
                    document.getElementById("loginForm:username").value = "";
                    //document.getElementById("loginForm:password").value = "";
                }

                $('#rememberme').click(function() {
                    checkRemembeMe();
                });
    		});

    		function checkRemembeMe() {
                // if ($('#rememberme').is(':checked')) {
                //     // save username
                //     localStorage.usrname = document.getElementById("loginForm:username").value;
                //     //localStorage.password = document.getElementById("loginForm:password").value;
                //     localStorage.chkbx = $('#rememberme').val();
                // } else {
                    localStorage.usrname = '';
                    //localStorage.password = '';
                    localStorage.chkbx = '';
                // }
			}
        </script>
	</ui:define>
</ui:composition>
